{% extends 'salon/base.html' %}
{% block content %}
<h2>Services</h2>

<form method="get" class="row mb-3">
    <div class="col-10">
        <input type="text" name="q" class="form-control"
               placeholder="Search services..."
               value="{{ query }}">
    </div>
    <div class="col-2">
        <button class="btn btn-primary w-100">Search</button>
    </div>
</form>

<table class="table table-bordered table-striped">
    <tr>
        <th>Name</th>
        <th>Price</th>
    </tr>
    {% for s in services %}
    <tr>
        <td>{{ s.name }}</td>
        <td>{{ s.price }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
#serives.html